<div class="main">
  <div class="main__header">
    <div class="main__header--room-name">
      <%= @room.name %>
    </div>
    <div class="main__header--destroy-room-box">
      <%= link_to 'チャットを終了する', room_path(@room), data: { turbo_method: :delete }, class: 'main__header--destroy-room-link' %>
    </div>
  </div>
  
  <div class="main__chat-log">
    <%= render partial: 'message', collection: @messages %>
  </div>

  <%= form_with model: [@room, @message], class: 'main__chat-input', local: true do |f| %>
    <div class="main__chat-input--message-form">
      <%= f.text_field :content, class: 'main__chat-input--message-input', placeholder: 'type a message' %>
      <label class="main__chat-input--message-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'main__chat-input--message-image-hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'main__chat-input--send-button' %>
  <% end %>
  
</div>